# Ignore config & system files
.htaccess
.DS_Store
wp-config.php

# Ignore downloaded vendor packages
node_modules

# Ignore cache files
.sass-cache
wp-content/cache
wp-content/w3tc-config

# Ignore file uploads
wp-content/uploads
