#district-map{
	*{
		@include transition(none);
	}
	svg > g{
		font-size: 1.5px;
	}
	path {
		stroke-linejoin: round;
		fill: blue;
		stroke-linecap: round;
	}

	.background {
		fill: white;
		pointer-events: all;
	}

	.districts path{
		@include transition(fill 0.5s);
		fill: transparent;
		&:hover {
			fill: orange;
		}
	}
	.district-boundaries {
		pointer-events: none;
		fill: none;
		stroke: #fff;
		stroke-width: .5em;
	}

	#states path{
		@include transition(fill 0.5s);
		&:hover {
			fill: orange;
		}
	}
	.state-boundaries {
		pointer-events: none;
		fill: none;
		stroke: #fff;
		stroke-width: 1em;
	}

}