#district-map{
	*{
		@include transition(none);
	}
	svg > g{
		font-size: 1.5px;
	}
	path {
		stroke-linejoin: round;
		fill: blue;
		stroke-linecap: round;
	}
	.results{
		@include position(absolute);
		border: ridge gray 3px;
		@include border-radius(5px);
		background-color: #ddd;
		padding: 1em;
		h3{
			margin: -1em;
			margin-bottom: 1em;
			@include square(calc(100% + 2em), 1.5em);
			background-color: #eee;
			border-bottom: ridge gray 3px;
		}
	}
	.background {
		fill: white;
		pointer-events: all;
	}

	.districts path{
		@include transition(fill 0.5s);
		fill: transparent;
		stroke:white;
		stroke-width: 0.5px;
		&:hover, &.active {
			fill: orange;
		}
	}
	.district-boundaries {
		pointer-events: none;
		fill: none;
		stroke: #fff;
		stroke-width: .5em;
	}

	#states path{
		@include transition(fill 0.5s);
		stroke:white;
		stroke-width: 1px;
		&:hover, &.active {
			fill: orange;
		}
	}
	.state-boundaries {
		pointer-events: none;
		fill: none;
		stroke: #fff;
		stroke-width: 1em;
	}
	.content{
		position: static;
	}
}