.img-src {
  @include position(fixed, 0, 0, 0, 0);
    background-position: center;
    -webkit-background-size: cover;
    z-index: -1;
}

.img-blur {
  @include opacity(0);
}

header {
  @include square(100%, 6em);
  @include justify(space-around);
  position: relative;
  overflow: hidden;
  a img{
    @include position(absolute, 40px, calc((100vw - 1015px)/2));
  }
  @media screen and (max-width: 1120px) {
    a img{
      @include position(absolute, 20px, 20px);
    }
    .line{
      display: none;
    }
    .greeting-wrap {
      top: calc(50% + 40px);
      img{
        max-width: calc(140vw - 15px);
        left: 50%;
        @include transform(translateX(-50%))
      }
      p{
        max-width: 80vw;
      }
    }
  }
  a.button{
    @include center(vertical);
    @include justify(center, column);
    @include square(20em, 60%);
    left:0;
    padding:0;
  }
}
