$margin: 1em;

body{
	font-size: calc(7px + 0.8vw);
}

.content{
	font-size: 1vw;
	width: calc(67.2em + #{$grid-spacer});
	margin: auto;
	position: relative;
	&.separated{
		&:before, &::before, &:after, &::after{
			content: " ";
			@include position(absolute, null, 0);
			@include square(calc(100%), 2px);
			background: #dedede;
		}
	}
	.content-block{
		float:left;
		background-color: $color-white;
	}
	h3{
		letter-spacing: 0.54;
		line-height: 1.333;
		font-weight: 700;
	}
}

.justified{
	@include justify(center, row);
	&.space-between{
		-webkit-box-pack:space-between;
		-webkit-justify-content:space-between;
		-ms-flex-pack:space-between;
		justify-content:space-between;
	}
	&.column{
		-webkit-flex-direction: column;
		-webkit-box-direction: vartical;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	&.space-around{
		-webkit-box-pack:space-around;
		-webkit-justify-content:space-around;
		-ms-flex-pack:space-around;
		justify-content:space-around;
	}
}

.center-me{
	@include center();
}
.center-me-vertical{
	@include center(vertical);
}

.margin-top{
	margin-top: $margin;
}

.ui-draggable{
	cursor: move;
}