.button {
  @include transition(all 0.5s);
  font-size: 0.93333333333333em;
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: 0;
  color: #fff;
  text-transform: capitalize;
  overflow: hidden;
  left: 50%;
  padding: 10px 0px;
  position: relative;
  border: white solid 3px;
  transform: translateX(-50%);
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background: $color-button-primary;
  border: 2px solid $color-brand-main;
  &:hover{
    color: $color-button-primary-text;
    background-color: $color-button-primary-hover;
    border: 2px solid $color-button-primary-hover;
  }
  &:focus{
    outline: none; //$color-brand-main auto 5px;
  }
  @include MQ(M) {
    margin-top: 0;
  }
}

.button-primary {
  color: $color-button-primary-text;
  transition: background $transition-short;
  &:hover, &:focus {
    background: $color-button-primary-hover;
  }
}

.button-one {
  top: -2010px;
  left: 529px;

  @include MQ(L) {
    top: -1740px;
    left: 449px;
  }

  @include MQ(M) {
    top: -243%;
    left: 70px;
  }

  @include MQ(S) {
    top: -2440px;
    left: 55px;
  }

  @include MQ(XS) {
    top: -2320px;
    left: 15px;
  }

}

.button-two {
  top: -1166px;
  left: 30px;

  @include MQ(L) {
    top: -1000px;
  }

  @include MQ(M) {
    top: -132%;
    left: 70px;
  }

  @include MQ(S) {
    top: -1320px;
    left: 55px;
  }

  @include MQ(XS) {
    top: -1290px;
    left: 15px;
  }

}

.button-three {
  top: -302px;
  left: 529px;

  @include MQ(L) {
    top: -270px;
    left: 449px;
  }

  @include MQ(M) {
    top: -22%;
    left: 70px;
  }

  @include MQ(S) {
    top: -235px;
    left: 55px;
  }

  @include MQ(XS) {
    top: -235px;
    left: 15px;
  }

}

.button label .button-text {
  text-align: center;
  padding: 16px 26px;
  display: block;
}

.button label input {
  position: absolute;
  left: -2000px;
}

.button input + .button-text {
  background-image: url(../../_assets/check.png);
  background-repeat: no-repeat;
  background-position: -21px 23px;
  @include transition (background-position .2s, padding-left .2s)
}

.button input:checked + .button-text {
  background-color: $color-brand-secondary;
  color: #fff;
  background-position: 20px 23px;
  padding-left: 53px;
}